.App {
	text-align: center;
	background-color: #f0f0f0;
	padding: 20px;
}
  
.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.Form-login {
	text-align: center;
	color: black;
	background-color: #f0f0f0;
	padding: 20px;
}

.Error-msg {
	color:red;
	font-size: small;
}

.Flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding-inline: 12rem;
}

.Person-flex {
	margin: 0 1rem 2rem 1rem;
	text-align: center;
}